Repository ALGOITZY/ALGOITZY, pull requests merged in 2022-12, with the labels that each got.

#53 9주차 PR - 동민
  dongmin/baekjoon/bruteforce/BOJ1748.java
  dongmin/baekjoon/bruteforce/BOJ9095.java
Labels: ☕️ Java, ✨ programmers, baekjoon

#54 9주차 PR - 태영
  taeyoung/baekjoon/DP/BOJ9095.java
  taeyoung/baekjoon/brute force/BOJ1476.java
  taeyoung/baekjoon/brute force/BOJ1748.java
  taeyoung/baekjoon/brute force/BOJ3085.java
  taeyoung/programmers/Level2/PG42860_fix.java
Labels: ☕️ Java, ✨ programmers, baekjoon

#55 9주차 PR - 서현
  seohyun/baekjoon/bruteforce/BOJ1476.java
  seohyun/baekjoon/bruteforce/BOJ2309.java
  seohyun/baekjoon/bruteforce/BOJ3085.java
  seohyun/programmers/level2/PG42746.java
  seohyun/programmers/level2/PG42860.java
  seohyun/programmers/level2/PG43165.java
Labels: ☕️ Java, ✨ programmers, baekjoon

#56 10주차 PR - 동민
  dongmin/baekjoon/greedy/BOJ11047.java
  dongmin/baekjoon/greedy/BOJ11399.java
  dongmin/baekjoon/greedy/BOJ1931.java
  dongmin/baekjoon/greedy/BOJ2839.java
Labels: ☕️ Java, baekjoon

#57 10주차 PR - 태영
  taeyoung/baekjoon/greedy/BOJ11047.java
  taeyoung/baekjoon/greedy/BOJ11399.java
  taeyoung/baekjoon/greedy/BOJ1931.java
  taeyoung/baekjoon/greedy/BOJ2839.java
Labels: ☕️ Java, baekjoon

#58 10주차 pr - 지현
  jihyun/baekjoon/bruteForce/bj1748.java
  jihyun/baekjoon/greedy/bj11047.java
  jihyun/baekjoon/greedy/bj11399.java
  jihyun/baekjoon/greedy/bj2839.java
  jihyun/programmers/level2/pg42578.java
  jihyun/programmers/level3/pg42579_.java
Labels: ☕️ Java, baekjoon

#59 10주차 PR - 서현
  seohyun/baekjoon/greedy/BOJ11047.java
  seohyun/baekjoon/greedy/BOJ11399.java
  seohyun/baekjoon/greedy/BOJ1931.java
  seohyun/baekjoon/greedy/BOJ2839.java
Labels: ☕️ Java, baekjoon

#61 11주차 PR - 동민
  dongmin/baekjoon/greedy/BOJ1026.java
  dongmin/baekjoon/greedy/BOJ1541.java
  dongmin/baekjoon/greedy/BOJ1789.java
  dongmin/baekjoon/greedy/BOJ2217.java
Labels: ☕️ Java, baekjoon

#62 11주차 PR - 태영
  taeyoung/baekjoon/greedy/BOJ1026.java
  taeyoung/baekjoon/greedy/BOJ1541.java
  taeyoung/baekjoon/greedy/BOJ1789.java
  taeyoung/baekjoon/greedy/BOJ2217.java
Labels: ☕️ Java, baekjoon

#63 11주차 PR - 서현
  .gitignore
  seohyun/.idea/.gitignore
  seohyun/CodeRunner.java
  seohyun/seohyun.algoitzy/src/BOJ1026.java
  seohyun/seohyun.algoitzy/src/BOJ11047.java
  seohyun/seohyun.algoitzy/src/BOJ11399.java
  seohyun/seohyun.algoitzy/src/BOJ1476.java
  seohyun/seohyun.algoitzy/src/BOJ1541.java
  seohyun/seohyun.algoitzy/src/BOJ1789.java
  seohyun/seohyun.algoitzy/src/BOJ1931.java
  seohyun/seohyun.algoitzy/src/BOJ2217.java
  seohyun/seohyun.algoitzy/src/BOJ2309.java
  seohyun/seohyun.algoitzy/src/BOJ2839.java
  seohyun/seohyun.algoitzy/src/BOJ3085.java
  seohyun/seohyun.algoitzy/src/Main.java
  seohyun/seohyun.algoitzy/src/PG42746.java
  seohyun/seohyun.algoitzy/src/PG42860.java
  seohyun/seohyun.algoitzy/src/PG43165.java
Labels: ☕️ Java, baekjoon

#66 12주차 PR - 동민
  dongmin/baekjoon/greedy/Silver/3/BOJ13305.java
  dongmin/baekjoon/greedy/Silver/4/BOJ10610.java
Labels: ☕️ Java, 🐣 baekjoon

#67 12주차 PR - 서현
  seohyun/seohyun.algoitzy/src/BOJ10610.java
  seohyun/seohyun.algoitzy/src/BOJ13305.java
Labels: ☕️ Java, 🐣 baekjoon

#68 12주차 PR - 태영
  taeyoung/baekjoon/greedy/BOJ10610.java
  taeyoung/baekjoon/greedy/BOJ13305.java
Labels: ☕️ Java, 🐣 baekjoon
